$mobile-children: (2,3,4,5,6);

.react-layout-justify-list {
  overflow: hidden;
  &-ul{
    overflow: hidden;
  }

  &-item {
    box-sizing: border-box;
    float: left;
  }

  @each $value in $mobile-children{
    &[data-count='#{$value}']{
      .react-layout-justify-list-item:nth-child(#{$value}n + 1):nth-last-child(-n + #{$value}),
      .react-layout-justify-list-item:nth-child(#{$value}n + 1):nth-last-child(-n + #{$value}) ~ .react-layout-justify-list-item{
        margin-bottom: 0;
      }
    }
  }

}
